.footer {
    background-color: #F7FAFB;
    font-size: 12px;
    line-height: 15px;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer__left-text, .footer__right-text {
    margin: 0;
}

.footer__left-link, .footer__right-link {
    color: #3DBDF6;
}