.menu {
    margin-bottom: 22px;
}
.menu__list {

}

.menu__list-link {
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
    color: #7A8185;


    /*    font-family: .Helvetica Neue DeskInterface;*/
    /*    font-size: 12px;*/
    /*    font-style: normal;*/
    /*    font-weight: 400;*/
    /*    line-height: 14px;*/
    /*    letter-spacing: 0px;*/
    /*    text-align: left;*/
}