.sidebar {
    flex: 0 0 211px;
    background-color: #062436;
    color: #fff;
}

li {
    list-style-type: none;
    padding: 0;
}

.logo {
    margin-bottom: 45px;
    padding: 24px 0 0 20px;
}

.main-menu {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.main-menu__link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #fff;
}

.main-menu__list-item {
    display: flex;
    position: relative;
    align-items: center;
    padding: 16px 0 16px 20px;
}

.main-menu__list-item--active {
    border-left: 6px solid #3DBDF6;
    background-color: #15526A;
    margin-top: 8px;
    padding: 10px 0 10px 13px;
}

.main-menu__icon {
    margin-right: 16px;
}

.icon {
    padding-left: 57px;
}

.icon__user:before {
    content: '';
    position: absolute;
    background: url("../../assets/icon/icon_user.svg") 0 0/cover no-repeat;
    left: 20px;
    width: 21px;
    height: 21px;
    z-index: 998;
}

.icon__group:before {
    content: '';
    position: absolute;
    background: url("../../assets/icon/icon_group.svg") 0 0/cover no-repeat;
    left: 20px;
    width: 21px;
    height: 21px;
    z-index: 998;
}

.icon__domens:before {
    content: '';
    position: absolute;
    background: url("../../assets/icon/icon_domens.svg") 0 0/cover no-repeat;
    left: 20px;
    width: 22px;
    height: 21px;
    z-index: 998;
}

.icon__help:before {
    content: '';
    position: absolute;
    background: url("../../assets/icon/icon_help.svg") 0 0/cover no-repeat;
    left: 20px;
    width: 21px;
    height: 21px;
    z-index: 998;
}