.news {
    padding: 20px 0;
    border-top: 2px solid #F7FAFB;
    border-bottom: 2px solid #F7FAFB;
}

.news__header {
    margin-bottom: 21px;
}

.news__title {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
